/*
Breakpoints Atualizados seguindo a w3c

Tablets:
Breakpoint: min-width: 768px e max-width: 1024px

Laptops e Desktops:
Breakpoint: min-width: 1025px e max-width: 1440px

Desktops Grandes (4K e telas maiores):
Breakpoint: min-width: 1441px
*/
