@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
div#container_texto h1,h2{
    color: white;
}
span{
    color:#2ce896 ;
}